div.modal-background(data-zone='popup.close')
div.modal-content(style="width:70%;")
    form(data-zone='popup')
        figure.image
            img(src=(image))
        button.button.is-success(type='button' data-zone='popup.close') 확인